.pure-menu.pure-menu-scrollable.member-list
  = link_to 'Members', '#', class: 'pure-menu-link pure-menu-heading members-header'

  %ul.pure-menu-list
    - members.each do |status, users|
      - users.each do |username|
        %li.pure-menu-item
          = link_to '#', class: 'pure-menu-link' do
            %i{class: "status-icon #{status}"}
            #{ username }
